@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(56, 97, 251); /* Define the primary color */
  --gary-primary-color: #a6b0c3; /* Define the primary color */
  --gary-next: rgba(166, 176, 194, 0.219); /* Define the primary color */
}
body {
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 25px; /* Adjust as needed */
}
// common
@import "./common/mixin/index.scss";
@import "./common/default";

// page
@import "./pages/home/home_page";

// component
